.App {
  /* padding: 40px 7%; */
}

.presentation-div {
  width: 50%;
  padding: 2%;
}

.card-description {
  padding: 2%;
}
.presentation-btn {
  padding: 4% 5%;
}
.presentation-title {
  color: white;
  font-size: 80px;
  display: flex;
}

.presentation-description {
  color: white;
}
header {
  padding: 40px 7%;

  background-color: #1f2535;
}

@media only screen and (max-width: 600px) {
  .hero {
    background-color: white;
    color: black;
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    justify-content: center;
  }
}

.hero {
  background-color: white;
  color: black;
  margin-top: 20px;
  display: flex;
  flex-wrap: wrap;
  padding: 2% 2%;
  text-align: center;
  justify-content: center;
}
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
