.App {
  padding: 40px 7%;
}

.presentation-div {
  width: 50%;
  padding: 2%;
}
.presentation-btn {
  padding: 4% 5%;
}
.presentation-title {
  color: white;
  font-size: 80px;
  margin-left: -50px;
  display: flex;
}

.presentation-description {
  color: white;
}
header,
.background {
  background-color: #1f2535;
}
.hero {
  background-color: white;
  color: black;
  margin-top: 20px;
  margin-left: -50px;
  display: flex;
  flex-wrap: no-wrap;
  padding: 2% 1%;
}
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.button {
  padding: 2% 2%;
  margin-left: 10px;
}

.App-logo {
  height: 40vmin;
}
.red {
  background-color: red;
}

.blue {
  background-color: blue;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}
