.hero-container {
    color: white;
    width: 100vw;
    height: 100vh;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero-title-wrapper {
    width: 45vw;
    display: flex;
    flex-direction: column;
}

.hero-container h1{
    font-size: 6rem;
}

.hero-container button {
    margin-top: 3rem;
    padding: 2rem;
}