.App {
  text-align: left;
}

.App-logo {
  height: 10vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  position: relative;
  background-color: #32363f;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  padding-left: 10%;
}

.App-header:after {
  content: ' ';
  display: block;
  position: absolute;
  right: 15%;
  top: 5vh;
  width: 40%;
  height: 40%;
  z-index: 1;
  opacity: 1;
  background-image: url('./react-logo.svg');
  background-repeat: no-repeat;
  background-position: 50% 0%;
  background-size:contain;
}

.atom1{
  display: block;
  position: absolute;
  right: 15%;
  top: 45vh;
  width: 30%;
  height: 30%;
  z-index: 1;
  opacity: 1;
}

.atom2{
  display: block;
  position: absolute;
  right: 28%;
  top: 70vh;
  width: 30%;
  height: 30%;
  z-index: 1;
  opacity: 1;
}

.atom3{
  display: block;
  position: absolute;
  right: 0%;
  top: 70vh;
  width: 20%;
  height: 20%;
  z-index: 1;
  opacity: 1;
}

.atom4{
  display: block;
  position: absolute;
  right: 0%;
  top: 40vh;
  width: 20%;
  height: 20%;
  z-index: 1;
  opacity: 1;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

h1{
  font-size: 90px;
  margin: 30px 0;
}

.Info{
  display: flex;
  justify-content: space-between;
  margin: 190px 50px;
}

.Bullet{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 18%;
  text-align: center;
  color: #282c34;
}

.Bullet > img{
  width: 70%;
}

.button {
  background-color: white; /* Green */
  border: none;
  border-radius: 8px;
  color: #282c34;
  padding: 15px 32px;
  text-align: center;
  font-weight: 700;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

.Top{
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.menutop{
  margin-right: 10%;
}