.App-logo {
  height: 6vh;
}

.App-header {
  height: 10vh;
  padding: 0 100px;
  background-color: #1f2535;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.App-main {
  height: 80vh;
  width: 100vw;
  padding: 0 100px;
  background-color: #1f2535;
  color: white;
  display: flex;
  flex-direction: row;
}

.App-main-left {
  height: 100%;
  width: 50vw;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-evenly;
}

.App-main-right {
  height: 100%;
  width: 50vw;
  display: grid;
  grid-template-columns: 3fr 2fr;
}

.div-1 {
  grid-row-start: 1; 
  grid-row-end: 2;
}

.div-2 {
  padding-top: 15vw;
  grid-row-start: 1; 
  grid-row-end: 3;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.div-3 {
  grid-row-start: 2; 
  grid-row-end: 3;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.div-1 img {
  width: 25vw;
}

.div-2 img {
  width: 12vw;
}

.div-3 img {
  width: 18vw;
}

.div-3 img:first-child {
  align-self: flex-end;
}

.App-main h1 {
  width: 50vw;
  margin: 20px 0;
  font-size: calc(60px + 3vmin);
  line-height: calc(60px + 3vmin);
}

.App-main p {
  width: 30vw;
  font-size: calc(16px + 1vmin);
  font-weight: 200;
  margin: 20px 0;
}

.App-button {
  padding: 20px;
  background-color: white;
  border: none;
  border-radius: 3%;
  color: #1f2535;
  font-size: calc(16px + 1vmin);
  font-weight: 600;
}
