body{
    background-color: #1f2536;
    color: #ffffff;
    font-family: sans-serif;
    text-align: left;
}


a{  
    background-color: #ffffff;
    color: #1f2536;
    text-decoration: none;
    border: 1px solid #ffffff;
    padding: 10px;
}

.icons{
    padding: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    background-color: #ffffff;
}