.app {
  background-color: #1f2130;
}

.nav-bar{
    display:flex;
    justify-content:space-between;
    background-color: #1f2130;
    padding: 1%;
  }

.nav-bar img:first-child{
  margin-left: 10%;
}

.nav-bar img:last-child{
  margin-right: 10%;
}

.center-content {
  margin-top:20vh;
  color:white;
  padding-left: 5%;
  font-size:5vh;
  width:40vw;
}

.center-p-content{
  color:white;
  padding-left: 5%;
  font-size:2.6vh;
  width: 25vw;
  font-weight:50;
}

.button{
  background-color:white;
  color: #2c2f47;
  margin:5% 0 10% 5%;
  padding: 3%;
  font-size:1.5em;
  font-weight:bold;
}

.flex-footer{
  padding: 10% 5% 5% 5%;
  background-color:white;
  display:flex;
  flex-direction:row;
  justify-content:space-between;
}

.parts{
  font-size:2vh;
}