@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: roboto, sans-serif;
}

header {
  width: 100%;
  height: 600px;
  background-color: #1f2535;
  background-image: url("images/react-logo.svg");
  padding: 20px 60px;
  display: flex;
  justify-content: center;
}

.header-content {
  width: 100%;
  max-width: 1200px;
}

.white {
  color: white;
}

.title {
  font-size: 4rem;
  padding-top: 100px;
  padding-bottom: 20px;
}

.nav {
  display: flex;
  justify-content: space-between;
}

.menu {
  align-self: flex-end;
  flex-direction: row;
}

.container {
  width: 30vw;
}

.btn {
  background-color: white;
  color: black;
  border-radius: 5%;
  padding: 15px;
  font-family: roboto, sans-serif;
  font-weight: 700;
  font-size: 1rem;
  margin-top: 40px;
}

.features {
  margin-top: 5vh;
  margin-bottom: 5vh;
  max-width: 1200px;
  display: flex;
  justify-content: space-around;
}

.feature-container {
  display: flex;
  justify-content: center;
}

.small-container {
  width: 15vw;
}
