@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;700&display=swap');
* {
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

.p1 {
    font-size: 72px;
    font-weight: 700;
    padding-bottom: 15px;
}

.p2{
    font-weight: 100;
    font-size: 18px;
}

.text-box{
    padding: 120px 80px 80px
}

.hero-box{
    background-color: #202536;
    color: white;
} 

.button-div{
    padding: 80px;
}

.button{
    padding: 25px 30px;
    color: #202536;
    font-weight: 700;
    font-size: 25px;
}

.features-box{
    display: flex;
    justify-content: space-evenly;
    color: #202536;
    padding: 10% 0;
}

.nav-bar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 80px;
}

.feature-card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 300px;
}

.feature-card>h3{
    padding: 0 100px 0 20px;
    color: #202536;
}


.feature-card>p{
    margin-top: 10px;
    padding: 0 100px 0 20px;
    color: #B1B1B1;
}