div {
  overflow: hidden;
}
.Ironhack-logo {
  height: 35px;
}
.header {
  background-image: url(./images/react-logo.svg);
  background-color: rgba(3, 2, 12, 0.9);
  color: #fff;
  min-height: 70vh;
  padding: 0 50px;
  box-sizing: border-box;
}
.header-message {
  width: 50vw;
  padding: 25px;
}
.header-message h1 {
  font-size: 54px;
  font-weight: bold;
}
.header-message p {
  font-size: 24px;
}
.header-menu {
  padding: 10px 50px;
  max-height: 20vh;
  display: flex;
  justify-content: space-between;
  color: white;
}
.header-btn button {
  padding: 15px;
  background-color: #fff;
  width: 25vw;
  font-size: 24px;
  border-radius: 15px;
}

/* features */
.features {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.feature {
  padding: 10px;
  margin: 10px;
  width: 20%;
  box-sizing: border-box;
  text-align: center;
}

.feature img {
  width: 50%;
}
