body {
  margin: 5%;
}

.navBar {
  background-color: darkblue;
  height: 500px;
  display: flex;
  justify-content: space-around;
  color: antiquewhite;
}

.bottomIcons {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-left: 300px;
  margin-right: 300px;
  margin-top: 150px;
  margin-bottom: 120px;
}
