#body {
    font-family: Arial, Helvetica, sans-serif;
}

.backgroundMain{
    display: flex;
    flex-direction: column;
    background-color: #1A223D ;
    color: #fff;
    width: 95%;
    padding: 50px;
}

.nav{
    display: flex;
    justify-content: space-between;
}

.contaierText{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 240px;
}

.main{
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 50%;
    width: 100%;
}

.buttonContainer{
    margin-top: 40px;
}

.button{
    width: 50%;
    padding: 17px;
}

.logoReact{
    display: flex;
    flex-direction: column;
    align-items: flex-start;

}

.logo1{
    display: flex;
    align-self: center;
    width: 80%;
    margin-right: 100px;
}

.logo2{
    display: flex;
    width: 50%;
    align-self: flex-end;
    margin-right: 60px;
}

.logo3{
    display: flex;
    height: 70px;
    align-self: center;
    margin-right: 200px;
}

.cardsContainer{
    display: flex;
    height: 80vh;
    flex-direction: row;
    color: black;
    margin: 90px;
}

.cards{
    display: flex;
}

.h1{
    font-size: 70px;
}