body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 26px;
  color: white;
  background: #262538;
}
.navigation {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  margin: 40px 20px;
}

.content {
  margin-top: 200px;
  margin-left: 40px;
  width: 400px;

  h1 {
    font-size: 50px;
  }

  button {
    background: white;
    padding: 10px 20px;
    border-style: none;
    border-radius: 5px;
  }
}
