* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

.main {
    background-color: rgb(20, 20, 49);
}

.footer {
    display: flex;
    justify-content: space-evenly;
}