.callPosition {
    margin: 20px 0 100px 0;
    padding: 100px;
}

#title {
    color: white;
    font-size: 8em;
    width: 40%;
}

#sub-title {
    color: white;
    font-size: 2em;
    font-weight: 300;
    width: 40%;
    margin-bottom: 50px;
}

.btn {
    padding: 25px;
    color: #24292e;
    background-color: white;
    border-radius: 10px;
    font-size: 1.5em;
    text-decoration: none;
    font-weight: 600;
}