.Content{
    background-image: url("/images/react-logo.svg");
    background-position-x: 50%;
    height: 400px;
    background-color:rgba(0, 0, 0, 0.342);
}
.text{
    width: 30%;
    padding: 40px 0 0 80px;
}
h1,h3{
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}
h1{
    font-weight: 700;
    font-size: 60px;
}
h3{
    font-weight: 100;
}
button{
    font-family: Arial, Helvetica, sans-serif;
    color: black;
    background-color: white;
    border-radius: 15px;
    padding: 10px;
    font-size: 20px;
}