*{
    margin:0px;
    padding:0px;
}
header{
    width: 100vw;
    height: 60px;
    position: fixed;
    top:0px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: #202534;
    z-index: 100px;
}
img {
    width: 60;
    height: 60px;
    display: block;
    position: relative;
    margin-left: 20px;
} 
ul{
    width: 200px;
    min-height: 60px;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content:end;
    align-items: center;
    gap: 10px;
} 
ul img {
    width: 30px;
    height: 30px;
    display: block;
    position: relative;margin-right: 20px;
}
ul li {
    display: none;
}