.section1 {
 width: 100vw;
 height: 100vh;
 display: flex;
 flex-direction: column;
 justify-content: center;
 align-items: flex-start;
 background-color: #202534;
    z-index: 1;
}
h1 {
    width: 50%;
    display: block;
    position: relative;
    font-size: 50px;
    margin-left: 20px;
    color:white;
    text-align: left;
    margin-bottom: 20px;
}
p {
    width: 35%;
    display: block;
    position: relative;
    font-size: 20px;
    margin-left: 20px;
    color:white;
    text-align: left;
    margin-bottom: 40px;
}
button {
    font-size: 20px;
    padding: 10px;
    background-color: #f2f2f2;
    color:black;
    margin-left: 20px;
}