.section {
  max-width: 1200px;
  padding: 180px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  color: #1f2535;
}
.section div {
  padding: 15px;
}
.section h2 {
  margin: 0;
  font-size: 1.8rem;
}
.section p {
  margin: 0;
  font-size: 1.3rem;
  opacity: 0.8;
};
