.main {
    background-color: #333333;
    width: 100vw;
    height: 100vh;
    color: white;

    .main-content {
        width: 25vw;
        margin: 50px;
        padding: 50px 0;
      }
      
      .main-content h1 {
        font-size: 60px;
        font-weight: bolder
      }
  }