* {
    margin:0;
    padding:0;
}

.App {
background: #000;
height:100vh;
color:#fff;
}

.Container{
    width:1400px;
    margin:0 auto;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding:30px 0;
}

.button{
    background:#fff;
    color:#000;
    padding:15px 20px;
    border-radius:5px;
    border:none;
    font-size:20px;
    font-weight:700;
    margin:15px 0;
}

h1{
    font-size:90px;
}
.content {
    width: 500px;
    margin: 50px 0;
    height:75vh;
    display: flex;
    align-items: center;
}
p{
    font-size:20px;
}

.logo img {
    width:100px;
}
.home-buttons {
    display: flex;
    width: 100%;
    margin: 0 auto;
    align-items: center;
    justify-content: center;
    text-align:center;
    background: #fff;
    padding:80px 0;
}

.home-buttons h3 {
    color:#000;
    font-size:28px;
}

.home-buttons p {
    color:#000;
    margin:5px;
}

.home-buttons div {
  
    width:350px;
    margin:10px;
}