.Body {
    display: flex;
    justify-content: space-around;
    padding: 50px;
    margin-top: 50px;
    margin-left: 40px;
    margin-right: 40px;
}

.Body > div {
    margin: 10px;
}

.imagesBody {
    height: 100px;
}