*{
    margin: 0;
    padding: 0;
}

.card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.cardPadre{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    height: 110vh;



}

.paraph{
    width: 134px;
    text-align: justify;

}
