.header{
    background-color: #1f2435;
}

.navbar {
    margin: 10px;
    display: flex;
    justify-content: space-between;
}

.navbar img {
    padding: 14px 16px;
}

.content {
    display: flex;
}

.content > div {
    margin: 10px;
    padding: 20px;
    font-size: 30px;
}

.button {
    margin: 5%;
    background-color: #ffffff;
    border: none;
    color: #222838;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 30px;
    border-radius: 5px;
}

h1{
    color: white;
    font-family: sans-serif;
    font-size: 90px;
    margin: 5%;
    letter-spacing: -1px;
    display: block;
}

.content > div > p{
    color: white;
    font-family: sans-serif;
    font-size: 21px;
    margin: 5%;
    font-weight: 300;
    display: block;
}