.Header {
    background-color: rgb(31, 37, 53);
    background-image: url(/images/react-logo.svg);
    margin: 0;
    padding: 15px;
    color: white;
    height: 500px;
}

.h1Header {
    font-size: 70px;
    font-weight: 900;
}

.h2Header {
    font-size: 20px;
    font-weight: 100;
}

button {
    height: 50px;
    width: 100px;
    border-radius: 5px;
    border-style: none;
}

.images {
    display: flex;
    justify-content: space-between;
}

.text {
    padding: 50px;
}