@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,800');

body {
    font-family: 'Open Sans', black, sans-serif;
    font-size: 25px;
}
.border{
border: solid 1px red;
}

.cards {
    display: flex;
    flex-direction: row;
}

.dark-blue{
    background-color: #1f2332;
    color: white;
    height: 500px;
    padding: 10% 0 0 20%;

}

.content{
    flex-direction: row;
    font-size: 15px;
    height: 200px;
    margin: 2%
}

.img img{
    width: 40%
}

.card {
    margin: 2%
}