*{
  margin: 0;
  padding: 0;
}
.nav-bar{
  background-color: black;
  display: flex;
  justify-content: space-around;
  align-content: center;
  min-height: 80px;
}
.nav-bar li{
align-self: center;
color: #61dafb;
text-decoration: none;
list-style: none;
size: 40px;
}