h3 {
    color:rgb(37, 37, 56);
    text-align: left;
    font-size: 25px;
}

p {
    color:gray;
    text-align: left;
}

.element {
    display: block;
    margin: 40px;
    width: 12%;
    align-content: center
}
