.App {
    font-family: sans-serif;
}

.AppBlack {
    background-color: #1F2535;
    color: white;
    padding: 0px 0px 20px 100px;
}

.AppBlack {
    /* ATENCIÓN: NO FUNCIONA SI SE LE PONEN COMILLAS A RELATIVE */
    position: relative;
}

.AppBlackBackgroundLogo1 {
    position: absolute;
    right: 170px;
    top: 10px;
    transform: scale(.9)
}

.AppBlackBackgroundLogo2 {
    position: absolute;
    right: 60px;
    bottom: 110px;
    transform:scale(0.75);
}

.AppBlackBackgroundLogo3 {
    position: absolute;
    right: 220px;
    bottom: -30px;
    transform: scale(0.75);
}

.AppBlackBackgroundLogo4 {
    position: absolute;
    right: -90px;
    top: 10%;
    transform: scale(0.4);
}

.AppBlackBackgroundLogo5 {
    position: absolute;
    right: -90px;
    top: 40%;
    transform: scale(0.4);
}

.AppBlackBackgroundLogo6 {
    position: absolute;
    right: -90px;
    top: 65%;
    transform: scale(0.4);
}
.AppWhite {
    background-color: white;
    color: #1F2535;
    display: flex;
    font-size: large;
    padding: 30px 30px;
    margin: 0px 0px;
}

.Feature {
    text-align: center;
    padding: 30px 30px;
    margin: 0px 0px;
}

.UpperIcons {
    display: flex;
    justify-content: space-between;
    margin: 30px 30px 30px 0px;
    padding: 20px 20px 0px 0px;
}

.MainTitle {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 70px;
    font-weight: bolder;
}

.ValueProp {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 18px;
    font-weight: lighter;
}

.Awesome {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 22px;
    font-weight: bold;
    text-align: center;
    background-color: white;
    color: #1F2535;
    border-radius: 5px;
    padding: 20px;
    margin: 60px 0px;
    width: 120px;
}