body {
  margin: 0px;
  padding: 0px;
  font-family: serif;
  background-color: white;
  width: 100%;
}

.dark-box {
  background-color: rgb(31, 37, 53);
  background-repeat: no-repeat;
  margin: 50px;
  padding: 30px;
  display: flex;
  flex-direction: column;
}

.navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  margin: 50px;
}

button {
  color: rgb(31, 38, 53);
  background-color: white;
  font-size: 30px;
  margin: 50px;
  margin-top: 40px;
  width: 200px;
  padding: 15px;
  border-radius: 3px;
  border: none;
}

.button {
  width: 50%;
}

h1 {
  color: white;
  font-size: 5em;
  margin-block-start: 0.15em;
  margin-block-end: 0.15em;
  margin-inline-start: 50px;
  margin-inline-end: 0px;
  font-weight: bolder;
}

h2 {
  color: white;
  font-size: 1.5em;
  margin-block-start: 0.15em;
  margin-block-end: 0.15em;
  margin-inline-start: 50px;
  margin-inline-end: 0px;
  font-weight: normal;
}

h3 {
  color: black;
  font-size: 2em;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: bold;
}

p {
  color: grey;
  font-size: 1em;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: normal;
}

.main-text {
  width: 50%;
}

.footer-box {
  text-align: center;
  margin-left: 15px;
}

.footer {
  margin-left: 100px;
  margin-right: 100px;
  padding-bottom: 150px;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
