* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.main-section-container {
    background-color:#1F2535;
    height: auto;
    padding: 0 100px;
    background-image:
        url('/images/react-logo.svg'),
        url('/images/react-logo.svg'),
        url('/images/react-logo.svg'),
        url('/images/react-logo.svg');
    background-repeat: no-repeat, no-repeat, no-repeat, no-repeat;
    background-size: 300px, 200px, 200px, 150px;
    background-position: 65% 5%, 70% 65%, 55% 90%, 100% 50%;
}

.navigation {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100px;
}

.main-content > h1 {
    color: white;
    width: 400px;
    font-size: 60px;
    margin-top: 100px;
}

.main-content > p {
    color: white;
    width: 400px;
    font-size: 20px;
    margin-top: 25px;
}

.main-content > button {
    width: 150px;
    height: 75px;
    background-color: white;
    color: #1F2535;
    font-weight: bold;
    font-size: 20px;
    border: none;
    border-radius: 6px;
    margin: 50px 0 80px 0;
}

.footer-container {
    display: flex;
    justify-content: space-evenly;
    align-items: top;
    padding: 0 100px;
    margin-top: 30px;
}