.App {
  background-color:white;
}

.navbar{
  display: flex;
  justify-content: space-between;
  
}

.title{
  color: white;
  padding-top: 50px;

  padding-bottom: 50px;
  font-size: 70px;
}

.description{
  color: white;  
}

.head{
  background-color: rgb(0, 0, 90);
  background-image: url('./images/react-logo.svg');
}

.head{
  padding: 50px;
}

.components{
  padding: 80px;
}
