section {
    background-color: black;
    padding:100px 100px;
    color: white;

}
nav {
    display: flex;
    justify-content: space-between;
}

h1 {
    font-size: 100px;
    padding-top: 90px;
}

p {
    font-size: 20px;
    color: #aaaab8;
}

button {
    padding: 20px;
    font-size: 20px;
    border-radius: 8px;
    border: 0;
    background-color: white;
}

.boxes {
    display: flex;
    justify-content: space-evenly;
    padding: 50px;
}

.boxes img {
    width: 100px;
}

.component p {
    font-size: 15px;
    color: #aaaab8;
}
