#root {
  margin: 0;
  padding: 0;
}

header {
  display: flex;
  justify-content: space-between;
  color: white;
  padding: 25px 50px;
}

#blocks {
  justify-content: space-around;
}


.block {
  width: 200px;
}
#content {
  display: flex;
  padding: 50px;
}

#content div:first-child {
  width: 500px;
}
#content div:first-child h1 {
  font-size: 70px;
} 

main {
  background-color: #282c34;
  color: white;
  height: 90vh;
}

/* button {
  padding: 10px 20px;
  background-color: white;
  border-radius: 8px;
  color: #282c34;
} */

.App {
  font-family: Arial, Helvetica, sans-serif;
}