body{
    margin: 0; 
    font-family: 'arial', sans-serif;
}
.bcg-react{
    
    background-image: url("/images/react-logo.svg");
    background-color: #1f2535;
    height: auto;
    background-repeat: repeat;
    color: white;
    
}
.nav-bar{
    display: flex;
    justify-content: space-between;
    margin: 0px 100px; 
    
}
.img-bcg-react{
    width: 60px;
    height: 60px;
    margin-top: 50px;
}
.Say-hello{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 0px 100px;
}
.Say-hello h1{
    font-size: 7rem;
    margin-bottom: 0;
}
.Say-hello p{
    font-size: 2rem;
}
button {
    padding: 1.5rem 1.5rem;
    margin-bottom: 80px;
    margin-top: 20px;
    width: 150px;
    font-size: 1rem;
    
  }
  .display{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    justify-content: space-between;
    margin: 200px;
  }
  .items{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
  }
  .items h3{
    font-size: 1.5rem;
    margin-bottom: 0;
  }
  .items p{
    font-size: 1.1rem;  
    color: gray;
  }