body{
  background-color: rgb(32, 51, 87);
}
.whiteColor{
  font-size: 100px;
  color: whitesmoke;
  text-align: left;
  margin-top: 150px;
}
.pcolor{
  font-size: 3em;
  color: whitesmoke;
  text-align: left;

}

.spacer{
  margin-bottom: 200px;
}
hr{
  background-color: aliceblue;
}
.button{
  font-size: 4em;
  background-color: aliceblue;
  text-decoration: none !important;
  color: rgb(7, 6, 6);
  border-radius: 5px;

}
.beautyfooter{
  margin-top: 50px;
  background-color: rgb(255, 255, 255);

}