header{
  background: #202536;
  color: white;
  margin:0;
  padding: 30px;
  display: flex;
 
}

h1{
  max-width: 50%;
}

p{
  max-width: 50%;
  color:white;
  font-size: .6em;
  font-weight: 100;
}

header a {
  color: #202536;
  background: white;
  text-align: center;
  padding: 9px 15px;
  border-radius: 5px;
  font-size: 0.6em;
  font-weight: 600;
  display: inline-block;
  margin-top: 25px;
}


.react-logos{
  width: 40%
}

.react-logos img{
  width: 300px;
}