#root {
  background-color: #1F2535;
}

.App-logo {
  margin: 2% 0 0 5%;
}

.menu-top {
  float: right;
  margin: 2% 5% 0 0;
}

.Title {
  color: white;
  margin: 2% 0 0 5%;
}

h1{
  font-size: 120px;
}

h2{
  font-style: normal;
  font-size: 34px;
}

.btn{
  height: 80px;
  width: 160px;
  font-size: 28px;
  margin-bottom: 60px;
}

.App-features {
  margin: 60px ;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.feature {
  width: 20%;
}

.feature-icons{
  height: 160px;
  margin-left: 15px;
}

h1{
  font-size: 32px;
}
