.Nav {
  width: 98vw;
  height: 8vh;
  background-color: rgb(1, 1, 34);
  display: flex;
  flex-direction: row;
  justify-content: right;
}

.Nav .dropbtn {
  background-color: white;
  color: black;
  padding: 16px;
  font-size: 10px;
  border: none;
  border-radius: 15px;
  width: 80px;
  height: 30px;
  line-height: 2px;

  
}


.Nav .dropdown {
  position: relative;
  display: inline-block;
  margin-top: 30px;
  margin-left: 75%;
}


.Nav .dropdown-content {
  display: none;
  position: absolute;
  background-color: white;
  min-width: 75px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}


.Nav .dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}


.Nav .dropdown-content a:hover 
{background-color: #ddd;}


.Nav .dropdown:hover .dropdown-content 
{display: block;}


.Nav .dropdown:hover .dropbtn 
{background-color: white;}

.Nav .logo {
  margin-left: 70px;
  margin-top: 20px;
}

